{% extends 'base.html' %}

{% block title %} Tutorials {% endblock %}

{% block content %}
<body onload="changeClass('.tuts')"></body>
  <div class="container">
      <h1 class="title" style="font-size: 40px;" align="right">Tutorials</h1>
      <div class="tutorials">
          <div class="tut">
            <a href="https://www.youtube.com/watch?v=j48LtUkZRjU&list=PLPV2KyIb3jR5QFsefuO2RlAgWEz6EvVi6">Brackeys Special</a>
          </div>
          <div class="tut">
            <a href="https://www.youtube.com/watch?v=pwZpJzpE2lQ&t=2873s">Imphenzia</a>
          </div>
          
      </div>
  </div>
{% endblock %}